.add_sidebar {
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: -290px; 
    width: 290px;
    box-shadow: 0px 4px 4px #808080;
    padding: 20px;
    transition: right 0.3s ease; 
    z-index: 1001;
    overflow-y: auto;
}

.add_sidebar.open {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999; 
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#close_sidebar_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E71D36;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#close_sidebar_button:hover {
    background-color: rgba(231, 29, 54, 0.1);
}

.title_sidebar {
    margin-top: 15px;
    margin-bottom: 18px;
}

.form_sidebar {
    display: flex;
    flex-direction: column;
}

.input_sidebar, .input_data {
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding-left: 15px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 15px;
}

.input_data {
    padding-right: 10px;
}

.add_button, .add_product_button {
    background-color: #1B5C59;
    border: none;
    color: #FFFFFF;
    gap: 7px;
    padding: 10px 42px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#messageContainer {
    padding: 10px 15px;
    margin-bottom: 15px; 
    border-radius: 5px;
    font-size: 14px;
    display: none; 
    text-align: center;
}

.message.success {
    color: #007113;
}

.message.error {
    color: #D60000;
}
