main {
    flex: 1;
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.add_client_content{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.add_client_title {
    font-size: 24px;
    font-weight: bold;
}

.add_client_button {
    background-color: #1B5C59; 
    border: none;
    color: #FFFFFF;
    gap: 7px;
    padding: 10px 42px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.search_client {
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-left: 15px;
    width: 338px;
    height: 40px;
    font-size: 15px;
}